In [21]:
url =r'data/full_data_base.csv'

In [8]:
import pandas as pd

In [30]:
df = pd.read_csv(url)

In [31]:
df.head()

,tconst,title,titleType,Decade,original_language,production_companies_name,poster_path,budget,popularity,revenue,...,Musical,Mystery,News,Romance,Sci-Fi,Short,Sport,Thriller,War,Western
0,tt0024121,L'entôleuse,0,1940.0,fi,Fenno-Filmi,/nNUYhUaSQdAWm35AHn2LfISEcG9.jpg,0,0.600,0,...,0,0,0,0,0,0,0,0,0,0
1,tt0029284,Mon épouse favorite,0,1940.0,en,RKO Radio Pictures,/eRyGZiEWGn9bADSI5CXWMStBhMD.jpg,921000,7.347,2057000,...,0,0,0,1,0,0,0,0,0,0
2,tt0030495,Narcisse,0,1940.0,fr,Gray Film,/3MsLpvvljY8euR6mkwIzd4dNLGq.jpg,0,0.998,0,...,0,0,0,0,0,0,0,0,0,0
3,tt0031084,Battement de coeur,0,1940.0,fr,Ciné-Alliance,/9k9tD5FJmODsPcVRRTBg2hzYkt7.jpg,0,0.988,0,...,0,0,0,0,0,0,0,0,0,0
4,tt0031228,La fille du diable,0,1940.0,fr,Société Nouvelle Pathé Cinéma,/r7z7TC1c9nbkDmiIVwVFhJMhogc.jpg,0,1.011,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
df.shape

(39236, 37)

In [33]:
df.isna().mean()

tconst                       0.000000
title                        0.000000
titleType                    0.000000
Decade                       0.000000
original_language            0.000000
production_companies_name    0.124783
poster_path                  0.019574
budget                       0.000000
popularity                   0.000000
revenue                      0.000000
rating                       0.000000
vote_count                   0.000000
RunTime                      0.000000
Year                         0.000000
Action                       0.000000
Adventure                    0.000000
Animation                    0.000000
Biography                    0.000000
Comedy                       0.000000
Crime                        0.000000
Drama                        0.000000
Family                       0.000000
Fantasy                      0.000000
Film-Noir                    0.000000
History                      0.000000
Horror                       0.000000
Music                        0.000000
Musical                      0.000000
Mystery                      0.000000
News                         0.000000
Romance                      0.000000
Sci-Fi                       0.000000
Short                        0.000000
Sport                        0.000000
Thriller                     0.000000
War                          0.000000
Western                      0.000000
dtype: float64

In [34]:
df['Year'] = df['Year'].astype(int)

In [35]:
df=df.query('Year >=1950')

In [36]:
df = df.dropna()